<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>{{ page.title }} ({{ site.title }})</title>
  <link rel="stylesheet" type="text/css" href="{{ site.production_url }}/reset.css">
  <link rel="stylesheet" type="text/css" href="{{ site.production_url }}/style.css">
  <link rel="stylesheet" type="text/css" href="{{ site.production_url }}/pygments-default.css">
  <meta name="author" content="{{ site.author.fullname }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:creator" content="@{{ site.author.twitter }}">
  <meta property="og:url" content="{{ site.production_url }}{{ page.url }}">
  <meta property="og:title" content="{{ page.title }} ({{ site.title }})">{% if page.summary %}
  <meta property="og:description" content="{{ page.summary }}">{% endif %}{% if page.summary_image %}
  <meta property="og:image" content="{{ site.production_url }}{{ page.summary_image }}">{% endif %}

  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</head>

<body>
 <div id="page">
   <nav id="sidebar-outer">
     <div id="sidebar">
       <div id="homelink">
         <h1><a href="{{ site.production_url }}/">{{ site.title }}</a><span id="nav-toggle"><i class="fas fa-bars"></i></span></h1>
       </div>{%
       assign sorted_pages = site.pages | sort:"pageorder"
       %}{% assign current_group = null
       %}
       <ul id="nav">{%
         for p in sorted_pages %}{%
           if p.pageorder %}{%
             if p.pagegroup != current_group %}{%
               if current_group %}</ul></li>{% endif %}{%
               assign current_group = p.pagegroup %}{%
               if current_group %}{%
                 assign section_link = site.section_links[current_group]
                 %}<li{% if section_link == page.url %} class="active"{% endif %}><a{%
                 if section_link %} href="{{ site.production_url }}{{ section_link }}"{% endif
                 %}>{{ current_group }}</a><ul>{% endif %}{%
             endif %}
         <li{% if p.url == page.url %} class="active"{% endif %}>
           <a href="{{ site.production_url }}{{ p.url }}">{{ p.sidebar_heading | default:p.title }}</a>{%
           if p.url == page.url %}
{% include toc.html sanitize=true h_min=2 html=content %}{% endif %}
         </li>{%
           endif %}{%
         endfor %}{%
         if current_group %}</ul></li>{% endif %}
       </ul>
       <script src="nav-toggle.js"></script>
       <p class="copyright"><a href="{{ site.production_url }}/contact.html">© {{ site.copyrightyears }} Tony Garnock-Jones</a></p>
     </div>
   </nav>

   <div id="content">
     {{ content }}
   </div>
 </div>
</body>

</html>
